body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.color {
    color: rgb(228, 176, 5);
}

.half-weth {
    width: 50%;
    padding: 5%;
}



.link-colour {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding-left: 5%;
    padding-right: 8%;
    border-radius: 30px;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-weth img {
    width: 70%;
}


.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.Dream-Big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.h3-color {
    color: chocolate;
}

.expirences-part {
    width: 35%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    border-radius: 26px;

}



.exprience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;

}

h2 {
    font-size: 40px;
}

#Full-Stack-Web-Developer {
    border-left: 10px solid red;
}

#Baby-Web-Developer {
    border-left: 10px solid blue;
}

footer p {
    text-align: center;
}